/* =========================
   ANIMAÇÕES DO JAVASCRIPT
========================= */

.animar {
    opacity: 0;

    transform: translateY(30px);

    transition:
        opacity 0.7s ease,
        transform 0.7s ease;
}

.animar.mostrar {
    opacity: 1;

    transform: translateY(0);
}


/* =========================
   BOTÃO VOLTAR AO TOPO
========================= */

.botao-topo {
    position: fixed;

    right: 25px;
    bottom: 25px;

    width: 48px;
    height: 48px;

    border: none;

    border-radius: 50%;

    background-color: #FD8F14;

    color: #171F49;

    font-size: 22px;

    font-weight: 700;

    cursor: pointer;

    display: flex;

    align-items: center;
    justify-content: center;

    opacity: 0;

    visibility: hidden;

    transform: translateY(20px);

    transition: 0.3s;

    z-index: 999;
}

.botao-topo.ativo {
    opacity: 1;

    visibility: visible;

    transform: translateY(0);
}

.botao-topo:hover {
    background-color: #FFA539;

    transform: translateY(-4px);
}
